*{
    padding: 0px  ;
    margin : 0px ; 
}
.first{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-color : #1F2937;
    color : #E5E7EB;
    font-size : 18px ; 

}
.header {
    display : flex  ;
    justify-content : space-around;

}
.header ul{
    display : flex ; 
   justify-content : center ;
    list-style: none;
}
.header ul li {
    margin-left : 10px ; 
}
.logo {
    font-size: 24px ;
    color : #F9FAF8;
}
.first button {
   background-color : #3882F6;
   color : white ; 
    border : 5px solid  #3882F6; 
    border-radius : 5px ;
    width: 73px ;
    margin-top : 10px ; 
    
}
.maintext {
    font-size : 48px ; 
    color : #F9FAF8;
    font-weight : 900px  ; 

}
.about {
    display: flex ; 
    justify-content : center ; 
    gap : 20px ; 
    margin : 20px ; 
    padding: 40px ; 
}
.about img {
    width: 200px ; 
    height : 150px  ;
    margin-top : 20px ;

}
.second header {
    font-size : 36px ; 
    font-weight : 900px ; 
    color : #1F2937 ; 
    text-align : center ;
}
.second ul{
    margin-top : 10px ; 
    display : flex ; 
    justify-content: center;
    list-style  : none ; 
    gap : 50px ; 
  
}
.second ul li {
    max-width : 100px ; 
}
.second img {
    width : 100px ; 
    height : 100px ; 
    border : 2px solid #3882F6;
    border-radius : 10px ;
}
.second ul li {
    text-align : center ; 
    
}
.third {
    margin-top : 30px ; 
    background-color : #cfd2d9; 
    height : 250px ;  
    display: flex ; 
    flex : 1 ; 
    align-items : center ; 
    justify-content  : center ; 
    
}
.third div {
    max-width: 400px ;
    display : inline-block ; 
    font-size : 36px ; 
    color : #1F2937;
    font-style: italic;
}
.third cite {
    font-weight : bold ; 
    font-family : system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size : 18px ; 
    margin-left : 280px;
}
.fourth {
    display : flex ; 
    justify-content : center ; 
}
.last{
    display : flex ; 
    justify-content : space-around; 
    margin : 50px 80px ; 
    align-items : center ; 
    background-color :#3882F6;
    height : 100px;
    width :80vw ;
    color : #F9FAF8;
}
.last button {
    background-color: #3882F6;
    color : white ; 
    width :60px;
    height : 27px ; 
    border : 1px solid white ; 
}
footer {
    background-color : rgb(58, 57, 57) ; 
    color : white ; 
    width : 100vw; 
    text-align : center ; 
}